<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ViziAppsStudioVersion" value="2.0.0"/>
    <add key="MaxCustomerTestingDevices" value="5"/>
    <add key="MaxStagingUsesPerWeek" value="100"/>
    <add key="ViziAppsAdminConnectionString" value="SERVER=viziapps.c6um8x5yb22t.us-east-1.rds.amazonaws.com;USER ID=admin;PASSWORD=Mobile123;DATABASE=viziapps_admin;" />
    <add key="ViziAppsAdminStagingConnectionString" value="SERVER=viziapps.c6um8x5yb22t.us-east-1.rds.amazonaws.com;USER ID=admin;PASSWORD=Mobile123;DATABASE=viziapps_admin_staging;" />
    <add key="StagingURL" value="http://localhost:14128/ViziAppsPortal/"/>
    <add key="DatabaseUsername" value="admin" />
    <add key="DatabasePassword" value="Mobile123" />
    <add key="AWSAccessKey" value="AKIAIL6IWUFXZBITQXTQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="ImageBucket" value="MobiFlexImages"/>
    <add key="WebAppBucket" value="viziapps"/>
    <add key="GoogleAppsKey" value="276505743486.apps.googleusercontent.com"/>
    <add key="GoogleAppsSecret" value="okSR9UXAcYrLIXHSR5rrOPAt"/>
    <add key="GoogleAppsProductListingID" value="8291+2628265646112864732"/>
    <add key="GoogleMerchantID" value="622763453188143"/>
    <add key="GoogleMerchantKey" value="feWE0WaoIHAjmvCaBmA7Vw"/>
    <add key="GoogleEnvironment" value="Sandbox"/>
    <add key="GoogleAppsCheckout2" value="http://www.viziapps.mobi/portal/GoogleAppsCheckout.aspx"/>
    <add key="DefaultButtonImage" value="https://s3.amazonaws.com/MobiFlexImages/apps/images/blank_buttons/medium_green_button.png"/>
    <add key="DefaultWebAppButtonImage" value="https://s3.amazonaws.com/MobiFlexImages/apps/images/jquery_buttons/c.png"/>
    <add key="DaysForFreeTrial" value="30"/>
    <add key="ActiveUsersDaysLoggedIn" value="7"/>
    <add key="ActiveUsersMinNLogins" value="6"/>
    <add key="AllowedAccountTypes" value="viziapps,kofax,intuit,identive"/>
    <add key="BitlyLoginName" value="mobiflex"/>
    <add key="BitlyAPIKey" value="R_a3e944d3b69f4f8c510383c44ca83100"/>
    <add key="DebugSessions" value="false"/>
    <add key="Telerik.Skin" value="Telerik"/>
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled"/>
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled"/>
  </appSettings>
  <system.web>
    <machineKey validationKey="7A0A1010EB4CE4E5253F1515BAFA891C33E7B68F973BA18A632E0AE53F662CD04EE0239126ADA08E429AD51AF041D6CD7FDFE24869B24728BAC567F006540771" 
                decryptionKey="7F751CBF3E45A0DE3F1F0942EDC6BF4557D541923C60A7D1AC66C61A95AB375F" 
                validation="SHA1" 
                decryption="AES" />
    <customErrors mode="Off"/>
    <sessionState mode="InProc" cookieless="false" timeout="30" stateNetworkTimeout="30" cookieName="viziapps_session"/>
    <authentication>
      <forms timeout="30"/>
    </authentication>
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Telerik.Web.Design, Version=2011.3.1115.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
      </controls>
    </pages>
    <httpHandlers>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
    </httpModules>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RadUploadModule"/>
      <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule" preCondition="integratedMode"/>
      <remove name="RadCompression"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <remove name="ChartImage_axd"/>
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>