P {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000000
}
UL {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000000
}
OL {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000000
}
TEXTAREA 
{
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000000
}
.error {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #ff0000
}
.body {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000000
}
.bodywhite {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #ffffff
}
A:link {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A:visited {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A:hover {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A:active {
	FONT: 13px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
.foot {
	FONT: 10px Verdana, Arial, Helvetica; COLOR: #000000
}
A.footlink:link {
	FONT: 10px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: none
}
A.footlink:visited {
	FONT: 10px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: none
}
A.footlink:hover {
	FONT: 10px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A.footlink:active {
	FONT: 10px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
.header {
	FONT: 18px Arial, Verdana, Helvetica; COLOR: #990000
}
.latest {
	FONT: 9px Verdana, Arial, Helvetica; COLOR: #000066
}
A.latestlink:link {
	FONT: 11px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A.latestlink:visited {
	FONT: 11px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A.latestlink:hover {
	FONT: 11px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
A.latestlink:active {
	FONT: 11px Verdana, Arial, Helvetica; COLOR: #000066; TEXT-DECORATION: underline
}
.first {
	FONT: bold 14px Verdana, Arial, Helvetica; COLOR: #000000
}
.l1head {
	FONT: bold 18px Verdana, Arial, Helvetica; COLOR: #ffffff
}
.l1headblue {
	FONT: bold 18px Verdana, Arial, Helvetica; COLOR: #000099
}
.l2head {
	FONT: bold 16px Verdana, Arial, Helvetica; COLOR: #990000
}
.l3head {
	FONT: bold 13px Verdana, Arial, Helvetica; COLOR: #990000
}
.l4head {
	FONT: bold 13px Verdana, Arial, Helvetica; COLOR: #000000
}
.caption {
	FONT: bold 11px Verdana, Arial, Helvetica; COLOR: #336633
}
.warning {
	FONT: bold 13px Verdana, Arial, Helvetica; COLOR: #990000
}
.white {
	FONT: bold 14px Verdana, Arial, Helvetica; COLOR: #ffffff
}
.whitesmall {
	FONT: bold 12px Verdana, Arial, Helvetica; COLOR: #ffffff
}
.whitebluebg 
{
	font:bold 12px Verdana, Arial, Helvetica; Color:#ffffff; background-color:#aaaaFF
}
.midfield {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; WIDTH: 165px; BORDER-BOTTOM: #000099 1px solid; HEIGHT: 22px
}
.area {
	BORDER-RIGHT: #000099 1px solid; BORDER-TOP: #000099 1px solid; BORDER-LEFT: #000099 1px solid; WIDTH: 270px; BORDER-BOTTOM: #000099 1px solid; HEIGHT: 90px
}
.small {
	FONT: bold 11px Verdana, Arial, Helvetica; COLOR: #000000
}
.treeNodeStyle
{
	font: 10pt Verdana, Arial, Helvetica;
	padding-top:2px;
	color: Black;
}
.treeNodeSelectedStyle
{
	font: 10pt Verdana, Arial, Helvetica;
	color: White;
	padding-top: 2px;
	background-color: Navy;
}
.mainPromptTab
{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
	font: 10pt Verdana, Arial, Helvetica;
	text-align: center;
    cursor: pointer;
    background-color: #E5FAE6
}
.mainPromptTabHover
{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
	font: 10pt Verdana, Arial, Helvetica;
	text-align: center;
    cursor: hand;
    background-color: #F2FAF6;
}
.helpPromptTab
{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
	font: 10pt Verdana, Arial, Helvetica;
	text-align: center;
    cursor: pointer;
    background-color: #F8DAB1
}
.helpPromptTabHover
{
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-top: black 1px solid;
	font: 10pt Verdana, Arial, Helvetica;
	text-align: center;
    cursor: hand;
    background-color: #FCEDD8;
}
